<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <File name="FILE" fileName="target/logs/application.log">
            <PatternLayout pattern="%d{ISO8601} [%-5p] (%F:%L) - %m%n"/>
        </File>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>

        <Logger name="com.kvendingoldo.pingbus.service.Main" level="all" additivity="true">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="CONSOLE"/>
            <Appender-Ref ref="FILE"/>
        </Root>
    </Loggers>

</Configuration>