<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <File name="FILE" fileName="target/logs/application.log">
            <PatternLayout pattern="%d{ISO8601} [%-5p] (%F:%L) - %m%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="Console"/>
            <appender-ref ref="FILE"/>
        </Root>
    </Loggers>

</Configuration>